
<div>
    <table border='1' style="margin-top: 3vh; margin-left: 50px; width: 500px;">
  
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Phone</td>
        <td>Address</td>
        <td>City</td>
        <td>Zip</td>
        <td>E-mail</td>
        
       
      </tr>
      <tr  *ngFor= "let index of details" >
    
        <td> {{index.Fname}}</td>
        <td>{{index.Lname}}</td>
        <td>{{index.Mob}}</td>
        <td>{{index.Add}}</td>
        <td>{{index.City}}</td>
        <td>{{index.zip}}</td>
        <td>{{index.email}}</td>
      </tr>
    
    </table>
    <input type="button" id="gobackBtn" value="Go Back" onclick="javascript:history.go(-1)">
            
   

    
  </div>
  